<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.blooddonation">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LoginActivity"
            android:theme="@style/LoginTheme" ></activity>
        <activity android:name=".activity.SuccessfullyPosted" />
        <activity android:name=".activity.ResourcesActivity" />
        <activity android:name=".activity.InformationActivity" />
        <activity android:name=".activity.FaqsActivity" />
        <activity
            android:name=".activity.CompleteProfileActivity"
            android:theme="@style/LoginTheme" />
        <activity android:name=".activity.EditActivity" />
        <activity
            android:name=".activity.ReceiverActivity"
            android:theme="@style/DonorAndReceiverTheme" />
        <activity
            android:name=".activity.DonorActivity"
            android:theme="@style/DonorAndReceiverTheme" />
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.WalkOverActivity"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".activity.SignUpActivity"
            android:theme="@style/LoginTheme" />
        <activity android:name=".activity.MainActivity" />
    </application>

</manifest>